/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/
@font-face {
  font-family: 'Arsenica Trial';
  src: url('webfonts/ArsenicaTrial-Regular.woff2') format('woff2'),
      url('webfonts/ArsenicaTrial-Regular.woff') format('woff'),
      url('webfonts/ArsenicaTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('webfonts/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('webfonts/BrandonGrotesque-Regular.woff') format('woff'),
      url('webfonts/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('webfonts/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('webfonts/BrandonGrotesque-Bold.woff') format('woff'),
      url('webfonts/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Sue+Ellen+Francisco&display=swap');
:root {
  --theme__color1: #006374;
  --theme__color2: #00858E;
  --arsenica: 'Arsenica Trial';
  --brandonGrotesque: 'Brandon Grotesque';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--brandonGrotesque);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1185px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 16px 0;
  background: var(--theme__color1);
  color: #fff;
}
.header-section__inner {
  position: relative;
  display: flex;
}
.header__menu {
  margin: 0 auto;
  gap: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu li {

}
.header__menu li.logo-li {
  margin: 0 0px;
}
.header__menu li a {
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 700;
}
.header__menu li .header__logo {
  display: block;
  width: 135px;
}

.header__rmenu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
.header__rmenu > li {
  display: flex;
  flex-direction: column;
}
.header__rmenu > li > a {
  font-size: 13px;
  gap: 8px;
  font-weight: 700;
  padding: 0 14px;
  border-right: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  flex-grow: 1;
}
.header__rmenu > li:last-child > a {
  padding-right: 0;
  border-right: none;
}
.header__rmenu > li > a:hover {

}
.header__rmenu > li > a > .chevron {

}
.header__rmenu > li > a > .icon {
  font-size: 16px;
}
/* header-end */


/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translate(0,-50%);
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color2);
  color: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  font-size: 14px;
  padding: 6px;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  background: url('images/Koogles_Slider_01.png') no-repeat center center/contain, var(--theme__color2);
  color: #fff;
}
.hero-section__inner {
  display: flex;
  justify-content: center;
}
.hero__content {
  padding: 25px 0;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__content .h1 {
  font-size: 130px;
  margin: 0 0 40px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: var(--arsenica);
}
.hero__content h3 {
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0.8;
  text-align: center;
}
/* ---hero-section---end */


/* ---common-content--- */
.h2 {
  font-size: 50px;
  font-family: var(--arsenica);
  color: var(--theme__color1);
  font-weight: 400;
}
.h2-s {
  font-size: 35px;
  font-family: var(--arsenica);
  color: var(--theme__color1);
  font-weight: 400;
}
.bd-m {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  text-align: center;
  align-items: center;
}
.sec-title {
  margin: 0 0 35px;
}
/* ---common-content---end */



/* ---remixed-section--- */
.remixed-section {
  padding: 35px 0 60px;
}
.remixed-section__inner {

}
.remixed-section__title {

}

.remixed__item__wrap {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.remixed__item {

}
.remixed__item__image {
  display: flex;
  justify-content: center;
}
.remixed__item__image img {

}
.remixed__item__tc {
  text-align: center;
}
.remixed__item__tc h4 {
  font-size: 14px;
}

.pattern-var {
  --pattern-height: 97px;
}
.full-pattern {
  height: var(--pattern-height);
  width: 100%;
  background: url('images/Koogles_pattern_01.png') repeat center center/auto 100%;
}
/* ---remixed-section---end */


/* ---nf-section--- */
.nf-section {
  padding: 50px 0 40px;
}
.nf-section__inner {

}
.nf-section__title {
  margin: 0 0 10px;
} 

.nf__item__wrap {
  margin: 0 11.93%;
  display: grid;
  grid-gap: 38px;
  grid-template-columns: repeat(4,1fr);
}
.nf__item {

}
.nf__item__image {
  width: 100%;
}
.nf__item__image .img {
  width: 100%;
}

.nf__section__bottom {
  margin: 32px 0 0;
}
.nf__section__bottom h4 {
  font-size: 18.5px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}
/* ---nf-section---end */


/* ---famous-section--- */
.famous-section {
  margin-bottom: calc(var(--pattern-height) * 0.5);
  padding: 30px 0;
  background: var(--theme__color2);
  color: #fff;
  position: relative;
}
.famous-section .full-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0,50%);
}
.famous-section__inner {
  padding-bottom: calc(var(--pattern-height) * 0.5);
}
.famous-section__title {

}

.famous-section__row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.famous__r1__left {
  padding-left: 8%;
  width: 45%;
  flex-shrink: 0;
}
.famous__r1__left .img {

}
.famous__r1__right {
  width: 51%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.famous__content {

}
.nut-slide {
  width: 250px;
  max-width: 250px;
  position: relative;
}
.nut-slide__inner {
  padding: 10%;
}
.nut-slide .round-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.nut-slide .beforeAfter {
  border-radius: 50%;
  overflow: hidden;
}
.nut-slide .beforeAfter img {
  max-width: initial;
}
.famous__content__s2 {
  margin: 40px 0 0;
  text-align: center;
}
.famous__content__s2 h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
}
/* ---famous-section---end */


/* ---show-section--- */
.show-section {
  padding: 50px 0;
}
.show-section__inner {
  display: flex;
}

.show__filter {
  margin-right: 160px;
  margin-left: 2%;
  width: 192px;
  flex-shrink: 0;
}
.show__filter__inner {

}
.show__filter {

}
.sh-ck-group {
  border-bottom: 1px solid #000;
}
.sh-ck-group:last-child {
  border-bottom: none;
}
.sh-ck-group__title {
  padding: 3px 0 2px;
  /* border-bottom: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  font-size: 14px;
}
.sh-ck-group__title .ind {
  margin-right: 5px;
  color: var(--theme__color1);
}
.sh-ck-group__title .ind::after {
  content: '\f067';
  font-family: "Font Awesome 5 Pro";
}
.sh-ck-group__title:not(.collapsed) .ind::after {
  content: '\f068';
}
.sh-ck-group__title h4 {
  font-size: 14px;
  font-weight: 800;
}
.sh-ck-group__body {

}
.sh-ck-group__body__inner {
  padding: 4px 0 24px;
}
.sh-ck-single {
  width: 100%;
  font-size: 13px;
  padding: 4px 0 3px;
  gap: 7px;
  width: 100%;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.3;
}
.sh-ck-single:last-child {
  border-bottom: none;
}
.sh-ck-single .checkbox {
  margin-bottom: 2px;
}

.show__main {
  
}
.show__d-grid {
  grid-column-gap: 58px;
  grid-row-gap: 45px;
  grid-template-columns: repeat(2,1fr);
  display: grid;
}
.show__d-item {

}
.show__d-item__image {
  margin: 0 0 25px;
}
.show__d-item__image .img {
  width: 100%;
}
.show__d-item__tc {
  text-align: center;
}
.show__d-item__tc h3 {
  font-size: 16px;
  margin: 0 0 1px;
}
.show__d-item__tc h4 {
  font-size: 14px;
  margin: 0 0 1px;
  font-weight: 600;
}
.show__d-item__tc h5 {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
.show__d-item__tc__bottom {
  padding: 15px 0 0;
}
.show__d-item__tc__bottom .button {
  min-width: 217px;
}
/* ---show-section---end */


/* ---footer-section--- */
.footer-section {
  margin-top: calc(var(--pattern-height) * 0.5);
  padding: 98px 0 73px;
  background: var(--theme__color1);
  color: #fff;
  position: relative;
}
.footer-section .full-pattern {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0,-50%);
}
.footer__inner {
  gap: 32px;
  display: flex;
}
.footer__column {
  width: 16%;
}
.footer__column--1 {

}
.footer__column--2 {

}
.footer__column--3 {

}
.footer__column--4 {
  width: 28%;
}
.footer__column--5 {
  width: 28%;
}
.footer__column h4 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 20px;
}
.footer-menu {
  gap: 0px;
  display: flex;
  flex-direction: column;
}
.footer-menu li {

}
.footer-menu li a {
  font-size: 14px;
}
.f-dhl {
  width: 120px;
}
.f-cta-form {
  margin: 0 0 50px;
  display: flex;
  width: 100%;
}
.f-cta-form .input {
  text-align: center;
  border-color: transparent;
  width: 0;
  flex-grow: 1;
  font-weight: 600;
  color: #000;
}
.f-cta-form .input::placeholder {
  color: #000; 
}
.f-cta-form .submit {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-color: transparent;
  background: var(--theme__color2);
}

.f-payment {
  margin: 0 0 32px;
  width: 166px;
}

.fs-menu {
  gap: 15px;
  display: flex;
}
.fs-menu li {

}
.fs-menu li a {
  height: 34px;
  width: 34px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 7px;
  transition: 0.3s;
}
.fs-menu li a:hover {
  background: #fff;
  color: var(--theme__color2);
}
/* ---footer-section---end */


/* ---mix-hero-section--- */
.mix-hero-section {
  padding: 30px 0 80px;
  background: var(--theme__color2);
  color: #fff;
}
.mix-hero__inner {
  padding: 0 17.6%;
}
.mix-hero__content {
  text-align: center;
}
.mix-hero__content .h1 {
  font-size: 75px;
  margin: 0 0 22px;
  font-family: var(--arsenica);
  font-weight: 400;
}
.mix-hero__image {

}
.mix-hero__image img {

}
/* ---mix-hero-section---end */


/* ---hg-section--- */
.hg-section {
  padding: 22px 0 50px;
}
.hg-section__inner {

}

.hg-top__row {
  display: flex;
}
.hg-top__row__image {
  height: 394px;
  width: 50%;
  background: var(--theme__color1);
  flex-shrink: 0;
  background: #6DAEB3;
}
.hg-top__row__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hg-top__row__content {
  margin: 0 auto;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hg-top__row__content .h2 {
  margin: 0 0 33px;
}
.hg-top__row__content p {
  text-align: left;

}
.hg__bottom-row {
  margin-top: 40px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.hg__bottom__img {
  height: 220px;
  background: #6DAEB3;
}
.hg__bottom__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* ---hg-section---end */



/* ---epic-section--- */
.epic-section {
  padding: 35px 0 40px;
}
.epic-section__inner {
  position: relative;
}
.epic__trust {
  width: 135px;
  position: absolute;
  top: -65px;
  left: 0;
}
.epic__disco {
  width: 190px;
  position: absolute;
  top: -53px;
  right: 110px;
  z-index: -1;
}
.epic__ok {
  width: 134px;
  position: absolute;
  top: 211px;
  right: 70px;
}
.epic-section__title {
  margin: 0 0 15px;
}
.epic__content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.epic__content .bd-m {
  font-size: 20px;
}
.epic__content__image {
  margin: 0 0 15px;
  width: 275px;
}
.epic__content__image img {

}
.epic__content .h2-s {
  margin-top: 10px;
}
/* ---epic-section---end */


/* ---pd-section--- */
.pd-section {
  padding: 80px 0;
}
.pd-section__inner {

}
.pd-section__title {
  margin: 0 0 60px;
}

.pd__m-row {
  padding: 0 2%;
  display: flex;
  align-items: center;
}
.pd__m__side {
  width: 30%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.pd__m__sd-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pd__m__sd-s__icon {
  margin: 0 0 12px;
}
.pd__m__sd-s__icon .img {
  width: calc(var(--width) * 0.7);
}
.pd__m__sd-s__tc {

}
.pd__m__sd-s__tc p {
  line-height: 1.1;
  font-weight: 500;
}
.pd__m-row__middle {

}
.pd__m-row__middle .img {

}
/* ---pd-section---end */


/* ---gc-section--- */
.gc-section {
  padding: 30px 0 90px;
}
.gc-section__inner {
  padding: 0 9%;
}
.gc__row {
  gap: 67px;
  display: flex;
  align-items: center;
}
.gc__row__left {
  padding-top: 140px;
  gap: 30px;
  width: 22%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gc__row__left__image-1 {
  width: 60%;
}
.gc__row__left__image-2 {
  width: 100%;
}
.gc__row__right {
  padding-right: 9%;
}
.gc__row__right .h2 {
  margin: 0 0 65px;
  margin-left: 40px;
}
.gc__row__right .bd-m {
  font-size: 20px;
}
/* ---gc-section---end */